In [1]:
import pandas as pd

In [2]:
test = pd.read_csv('test.mod.tsv',
                   sep='\t',header=0)

In [14]:
test

  ID  Val1  Val2 OtherData OtherData.1
0  A     5     4         x           x
1  A     4     5         x           x
2  A     6     6         x           x
3  B     4     1         x           x
4  B     8     2         x           x
5  B     7     9         x           x
6  C     4     8         x           x
7  C     5     5         x           x
8  C     2     1         x           x

In [13]:
test.groupby('ID')[['Val1','Val2']].corr(method='spearman').unstack().iloc[:,1].tolist()

[0.5, 0.3857271381445886, 0.7145752309013801]

In [11]:
out[0]

0.5

In [ ]:
out=test.groupby('ID')[['Val1','Val2']].corr().unstack().iloc[:,1].